:root {
  --background-color: #f4f4f4;
  --container-color: white;
  --nav-color: #eaeaea;
  --hover-color: rgb(194, 194, 194);
  --text-color: black;

  font-family:
    segoe ui,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 10px;
  font-size: 44px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}



.header {
  padding: 20px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--nav-color);
  margin-bottom: 20px;
  text-align: center;
}

nav {
  background-color: var(--nav-color);
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  list-style: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

li:hover {
  border-radius: 500px;
  background-color: var(--hover-color);
  color: white;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.main {
  width: 100%;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--nav-color);
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.article {
  flex: 1 1 320px;
  min-width: 320px;
  max-width: 45%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.container-box-model {
  flex: 1 1 320px;
  min-width: 320px;
  max-width: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.article h2 {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.article p {
  padding: 10px;
  line-height: 1.6;
  text-align: left;
}

.audio-wrapper {
  width: 100%;
  background-color: #e4e4e4;
  padding: 16px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
}

.reproductor,
audio {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 16px;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls,
audio::-webkit-media-controls-enclosure {
  background-color: transparent !important;
}

.header h1 {
  margin: 0;
  text-align: center;
}

footer {
  width: 100%;
  text-align: center;
  background-color: var(--nav-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 16px;
}

.box-margin,
.box-border,
.box-padding {
  border-radius: 8px;
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.box-margin {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffdfa7;
  padding: 44px 40px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.box-border {
  width: 100%;
  background-color: #ffa7a7;
  padding: 36px 34px 26px;
  border-radius: 8px;
  border: 8px solid #33333338;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-padding {
  width: 100%;
  background-color: #d3ffba;
  padding: 32px 30px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-label {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  color: #1f1f1f;
}

.box-content {
  width: 100%;
  background-color: rgb(104, 187, 255);
  min-height: 120px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #1f1f1f;
  letter-spacing: 0.05em;
  padding: 18px;
}

.bento-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  gap: 5px;
  flex: 1 1 100%;
  width: 100%;
  margin-top: 20px;
}

.bento-grid div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  text-align: center;
  padding: 10px;
  border-radius: 24px;
  background-color: #cfcfcf;
}

.bento-grid div article {
  width: 100%;
  max-width: 100%;
}

section {
  width: 100%;
}

/* Responsive */
@media (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  .container-box-model {
    padding: 20px;
  }

  .article,
  .container-box-model {
    width: 100%;
    max-width: 100%;
  }

  .box-content {
    width: 100%;
  }
}


.grid {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: 10px;
}

.grid-cell {
  justify-content: center;
  align-items: center;
  background-color: #cfcfcf;
  border-radius: 16px;
}

header.header-cell {
  grid-column: 1 / -1;
}

/* componentes del grid interno */
.header-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-cell {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-cell {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-cell {
width: 100%;

}