:root {
  --background-color: #f4f4f4;
  --container-color: white;
  --nav-color: #eaeaea;
  --hover-color: rgb(194, 194, 194);
  --text-color: black;

  font-family:
    segoe ui,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}

.container {
  margin: 20px auto;
  background-color: var(--container-color);
  padding: 20px;
  border-radius: 32px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 20px;
  width: 100%;
  border-radius: 16px;
  background-color: var(--nav-color);
  margin-bottom: 20px;
  text-align: center;
}

nav {
  background-color: var(--nav-color);
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

li {
  list-style: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

li:hover {
  background-color: var(--hover-color);
  color: white;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.main {
  box-sizing: border-box;
  border-radius: 16px;
  background-color: var(--nav-color);
  margin-bottom: 20px;
}

.article h2 {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.article p {
  padding: 10px;
  line-height: 1.6;
  text-align: center;
}

.header h1 {
  margin: 0;
  text-align: center;
}

footer {
  text-align: center;
  background-color: var(--nav-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px;
}

.container-box-model {
  margin-bottom: 20px;
}

.box-margin,
.box-border,
.box-padding {
  border-radius: 8px;
  position: relative;
  width: fit-content;
  text-align: center;
}

.box-margin {
  background-color: #ffdfa7;
  padding: 44px 40px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-border {
  background-color: #ffa7a7;
  padding: 36px 34px 26px;
  border-radius: 8px;
  border: 8px solid #33333338;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-padding {
  background-color: #d3ffba;
  padding: 32px 30px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-label {
  position: absolute;
  top: 0;
  color: #1f1f1f;
}

.box-content {
  background-color: rgb(104, 187, 255);
  width: 220px;
  min-height: 120px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #1f1f1f;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 18px;
}

.bento-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
  gap: 5px;
}

.bento-grid div {
  text-align: center;
  padding: 10px;
  border-radius: 16px;
  background-color: #cfcfcf;
}

/* Responsive */
@media (max-width: 600px) {
  ul {
    flex-direction: column;
    align-items: center;
  }

  .container-box-model {
    padding: 20px;
  }

  .box-content {
    width: 180px;
  }
}
